<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fenixu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".logica_negocio.AlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
            </intent-filter>
        </receiver>
        <activity android:name=".gui.MateriasPlanAcademico"/>
        <activity android:name=".gui.Semestres"/>
        <activity android:name=".gui.Notas" />
        <activity android:name=".gui.Materias" />
        <activity android:name=".gui.CronogramaActivity"/>
        <activity android:name=".gui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>